.breadcrumbs {
    margin: 25px 0 5px 0;
    padding: 0 27px 0 27px;
    display: flex;

    &__link {
        margin-right: 20px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        text-decoration: underline rgba(255, 255, 255, .4);
        position: relative;

        &::before {
            content: " » ";
            position: absolute;
            top: 0;
            right: -14px;
        }

        &:last-child {
            margin-right: 0;
            text-decoration: none;
            cursor: default;

            &:hover {
                color: #fff;
            }

            &::before {
                display: none;
            }
        }

        &:hover {
            color: #ffbc9e;
            text-decoration-color: #ffbd9e;
            transition: .2s;

            &::before {
                color: #fff;
            }
        }
        
    }
}