.form-catalog {
    margin-bottom: 40px;
    display: flex;
    flex-flow: column;

    &__wrapper {
        margin-bottom: 15px;
        display: flex;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__box {
        margin-right: 15px;
    }

    &__title {
        margin-bottom: 10px;
        padding-left: 16px;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
    }

    &__bl {
        height: 36px;
        padding: 0 16px;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 15px;
        display: flex;
        align-items: center;
    }

    &__input-radio,
    &__input-checkbox {
        display: none;
    }

    &__input-radio:checked +.form-catalog__label-radio::after {
        display: block;
    }

    &__input-checkbox:checked +.form-catalog__label-checkbox::after {
        display: block;
    }

    &__label-radio,
    &__label-checkbox {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        cursor: pointer;
    }

    &__label-radio{
        padding-left: 32px;
        padding-right: 18px;
        position: relative;

        &:last-of-type {
            padding-right: 0;
        }

        &::before {
            content: "";
            width: 22px;
            height: 22px;
            border: 3px solid #eef2f0;
            border-radius: 50%;
            position: absolute;
            top: -3px;
            left: 0;
        }

        &::after {
            content: "";
            width: 8px;
            height: 8px;
            background-color: #eef2f0;
            border-radius: 50%;
            position: absolute;
            top: 4px;
            left: 7px;
            display: none;
        }
    }

    &__label-checkbox{
        padding-left: 32px;
        padding-right: 20px;
        position: relative;

        &:last-of-type {
            padding-right: 0;
        }

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            border: 2px solid #eef1ef;
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            content: "";
            width: 24px;
            height: 20px;
            background: url(../img/checkbox-on.png) no-repeat center;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
    }

    &__btn {

        width: 144px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #fff;
        background-color: rgba(255, 255, 255, .2);
        border: 2px solid #fff;
        border-radius: 15px;
        align-self: flex-end;
        cursor: pointer;
    }

}