.form-catalog {
    margin-bottom: 40px;
    padding: 0 27px 0 27px;
    display: flex;
    flex-flow: column;

    &__wrapper {
        margin-bottom: 15px;
        display: flex;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__box {
        margin-right: 15px;
    }

    &__title {
        margin-bottom: 10px;
        padding-left: 16px;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
    }

    &__bl {
        
       

        &_white {
            height: 36px;
            padding: 0 16px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, .2);
        }
    }

    &__select {
        display: block;
        width: 193px;
        padding: 0 16px;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        color: #fff;
        border-radius: 15px;

        background: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #000;
        }

    }


    &__range {
        -webkit-appearance: none;
        width: 176px;
        height: 4px;
        background-color: #ffffff;

        

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background-color: #ababab;
            border: 8px solid #fff;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                width: 22px;
                height: 22px;
                border: 9px solid #fff;
            }
        }
    }

    &__input-radio,
    &__input-checkbox {
        display: none;
    }

    &__input-radio:checked +.form-catalog__label-radio::after {
        display: block;
    }

    &__input-checkbox:checked +.form-catalog__label-checkbox::after {
        display: block;
    }
    &__input-checkbox:checked +.form-catalog__label-checkbox::before {
        display: none;
    }

    &__label-radio,
    &__label-checkbox {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: rgba(255, 255, 255, .8);
        cursor: pointer;

        &:hover {
            color: #fff;
        }
        &:active {
            color: rgba(255, 255, 255, .4);
        }
    }

    &__label-radio{
        padding-left: 32px;
        padding-right: 18px;
        position: relative;

        &:last-of-type {
            padding-right: 0;
        }

        &::before {
            content: "";
            width: 22px;
            height: 22px;
            border: 3px solid rgba(255, 255, 255, .8);
            border-radius: 50%;
            position: absolute;
            top: -3px;
            left: 0;
        }

        &::after {
            content: "";
            width: 8px;
            height: 8px;
            background-color: rgba(255, 255, 255, .8);
            border-radius: 50%;
            position: absolute;
            top: 4px;
            left: 7px;
            display: none;
        }

        &:hover::after {
            background-color: #fff;
            transition: .2s;
        }
        &:hover::before {
            border-color: #fff;
            transition: .2s;
        }

        &:active::after {
            background-color: rgba(255, 255, 255, .4);
        }
        &:active::before {
            border-color: rgba(255, 255, 255, .4);
        }
    }

    &__label-checkbox{
        padding-left: 32px;
        padding-right: 20px;
        position: relative;

        &:last-of-type {
            padding-right: 0;
        }

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            border: 2px solid #eef1ef;
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            content: "";
            width: 24px;
            height: 20px;
            background: url(../img/checkbox-on.png) no-repeat center;
            opacity: .8;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }

        &:hover::after {
            opacity: 1;
            transition: .2s;
        }
        &:hover::before {
            border-color: #fff;
            transition: .2s;
        }

        &:active::after {
            opacity: .4;
        }
        &:active::before {
            border-color: rgba(255, 255, 255, .4);
        }
    }

    &__btn {

        width: 144px;
        height: 34px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        background-color: rgba(255, 255, 255, .2);
        border: 2px solid #fff;
        border-radius: 15px;
        align-self: flex-end;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #000;
            transition: .2s;
        }

        &:active {
            box-shadow:inset 0 3px 1px #696969;
            border: none;
        }
    }

}