.header {
    padding: 0 27px;
    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;

    }
}

.logo {
    display: block;
    margin-right: 24px;
    width: 154px;
    height: 64px;
    background: url(../img/Logo.png) no-repeat center;

}

.nav {
    &__list {
        display: flex;
    }

    &__item {
        padding: 0 13px 0 13px;
        line-height: 32px;
        border-radius: 15px;
        position: relative;
        &:hover {
            background-color: #fff;
            color: #000;
            transition: .2s;
            & .nav__link {
                color: #000;
            }
            & .nav__subcat {
                transition: .2s;
                visibility: visible;
            }
        }
        &:active {
            box-shadow: inset 0 2px 1px #696969;
        }
        &_selected {
            background-color: #d07058;
        }
       
    }

    &__link {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        text-decoration: underline rgba(255,255,255, .4);
    }

    &__subcat {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 20px  20px rgba( 0, 0, 0, .4);
        position: absolute;
        top: 37px;
        left: -7px;
        transition: .8s;
        visibility: hidden;

        &-item {
            padding: 3px 0;
            position: relative;

            &_separator {
                &::before {
                    content: "";
                    width: 90%;
                    height: 1px;
                    background-color: #d1d0ce;
                    position: absolute;
                    bottom: 0;
                    left: 5%;
                    right: 5%;
                }
            }
        }

        &-link {
            display: block;
            padding: 0 20px 0 20px;
            font-family: "Roboto";
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            color: #000;
            white-space: nowrap;

            &:hover {
                background-color: #fbded7;
                transition: .2s;
            }

            &:active {
                background-color: #f6b5a5;
                transition: .2s;

                &.nav__item:active {
                    box-shadow: none;
                }

            }

            &_bold {
                font-weight: 700;
            }

            &_selected {
                background-color: #d07058;
            }

        }
    }
}

.user-nav {
    margin-left: auto;
    display: flex;
    &__item {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.search {
    position: relative;

    &__open {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: rgba(255,255,255, .2);
        border-radius: 50%;
        &:hover {
            background-color: #f8f7f4;
            transition: .2s;
            & .search__icon {
                fill: #000;
            }
        }
       
    }
    &__icon {
        width: 18px;
        height: 18px;
        fill: #fff;
    }

    &__form {
        width: 340px;
        padding: 30px 30px 20px 15px;
        border-radius: 5px;
        background-color: #f8f7f4;
        position: absolute;
        top: 40px;
        right: 0;
        transition: .8s;
    }

    &__input {
         width: 100%;
         height: 44px;
         padding-left: 14px;
         border: 1px solid #d3d3d2;
         border-radius: 4px;
         font-family: "Roboto";
         font-weight: 500;
         font-size: 14px;
         line-height: 24px;
         @include placeholder {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #999999;
        }
    }

    &__close {
    
        width: 19px;
        height: 19px;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
         &:hover::before,
         &:hover::after {
            background-color: red;
        }

        &::before {
            content: "";
            width: 3px;
            height: 25px;
            background-color: #323232;
            transform: rotate(45deg);
            position: absolute;
            top: -3px;
            left: 9px;           
        }

        &::after {
            content: "";
            width: 3px;
            height: 25px;
            background-color: #323232;
            transform: rotate(-45deg);
            position: absolute;
            top: -3px;
            left: 9px;
        }
    }

        
}







.login {
    position: relative;
    &__open {
        display: inline-block;
        padding: 0 15px 0 15px;
        font-family: "Roboto";
        font-weight: 600;
        line-height: 32px;
        font-size: 14px;
        color: #fff;
        background-color: rgba(255,255,255, .2);
        border-radius: 15px;
        &:hover {
            background-color: #f8f7f4;
            color: #000;
            transition: .2s;
            & .login__icon {
                fill: #000;
            }
        }
        &:hover +.search__form {
            visibility: visible;
            transition: .2s;
        }

    }
    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        fill: #fff;
    }

    &__wrapper-form {
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 2;
    }
    &__form {
        width: 277px;
        padding: 30px 30px 20px 15px;
        border-radius: 5px;
        background-color: #f8f7f4;
        position: relative;

    }

   

    &__input {
        width: 241px;
        height: 44px;
        margin-bottom: 20px;
        padding-left: 14px;
        border: 1px solid #d3d3d2;
        border-radius: 4px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        @include placeholder {
           font-family: "Roboto";
           font-weight: 500;
           font-size: 14px;
           line-height: 24px;
           color: #999999;
         }
    }

    &__wrapper {
        display: flex;
    }

    &__btn {
        width: 100px;
        height: 44px;
        font-size: 18px;
    }

    &__wrapper-link {
        margin-left: auto;
        display: flex;
        flex-flow: column;
    }

    &__link {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
        color: #323232;
        text-decoration: underline;

        &:hover {
            color: #ffbc9e;
            text-decoration-color: #ffbd9e;
            transition: .2s;
        }    
    }

    &__close {
    
        width: 19px;
        height: 19px;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
         &:hover::before,
         &:hover::after {
            background-color: red;
        }

        &::before {
            content: "";
            width: 3px;
            height: 25px;
            background-color: #323232;
            transform: rotate(45deg);
            position: absolute;
            top: -3px;
            left: 9px;           
        }

        &::after {
            content: "";
            width: 3px;
            height: 25px;
            background-color: #323232;
            transform: rotate(-45deg);
            position: absolute;
            top: -3px;
            left: 9px;
        }
    }


}

.basket {
    position: relative;
    &__btn {
        display: inline-block;
        padding: 0 15px 0 15px;
        font-family: "Roboto";
        font-weight: 600;
        line-height: 32px;
        font-size: 14px;
        color: #fff;
        background-color: rgba(255,255,255, .2);
        border-radius: 15px;

        &_active {
            color: #323232;
            background-color: #fff;
        }

    }
    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        fill: #fff;

        &_active {
            fill: #e84d37;
        }
    }
}


.telephone {
    position: absolute;
    bottom: -45px;
    right: 0;
    &__text { 
        margin-bottom: 5px;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        text-align: right;

    }
    &__link {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        color: #fff;
    }
}
