@media (max-width: 1220px) {
    .wrapper-page {
        width: 900px;
    }

    .header {
        padding: 0 20px;
    }

    .special-offers {
        padding: 0 20px;
        &__img {
            &_one {
            left: 87px;
            }
            &_two {
                right: 127px;
            }
       }
    }

    .promotions {
        padding: 0 20px 0 20px;
    
        &__box {
            flex-basis: 420px;
        }

        &__text {
            margin-bottom: 23px;
        }

    }
}