.product-hit {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        flex-basis: 293px;
        padding-left: 13px;
        padding-right: 13px;
        position: relative;

        &::before {
            content: "";
            width: 61px;
            height: 61px;
            background: url(../img/hit.png) no-repeat center;
            position: absolute;
            top: 0;
            left: 13px;
            z-index: 3;
        }

        &::after {
            content: "";
            width: 100%;
            height: 405px;
            background: rgba(255, 255, 255, .3);
            box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
            border-radius: 3px;
            position: absolute;
            top: -6px;
            left: 0;
            visibility: hidden;
        }

        &:hover::after {
            visibility: visible;
            transition: .2s;
        }
        &:hover .product-hit__link {
            visibility: visible;
            transition: .2s;
        }
    }

    &__img {
        margin-bottom: 17px;
        position: relative;
        z-index: 2;
    }

    &__price {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 35px;
        color: #fff;
        position: absolute;
        top: 215px;
        left: 13px;
        z-index: 2;

        &-text {
            font-size: 25px;
        }
    }

    &__text {
        margin-bottom: 40px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        text-decoration: underline rgba(255, 255, 255, .3);
        text-align: center;
        position: relative;
        z-index: 2;
    }

    &__link {
        display: inline-block;
        width: 200px;
        font-size: 18px;
        line-height: 44px;
        text-align: center;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        visibility: hidden;
    }
}