.promotions {
    margin-bottom: 40px;
    padding: 0 27px 0 27px;
    position: relative;
    z-index: 2;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        flex-basis: 560px;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-flow: column;

        &_bg-raspberries {
            background: url(../img/bg-raspberries.jpg) no-repeat center;
        }

        &_bg-chocolate {
            background: url(../img/bg-chocolate.jpg) no-repeat center;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 35px;
        line-height: 41px;
        color: #fff;
    }

    &__text {
        margin-bottom: 44px;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
    }

    &__link {
        margin-left: auto;
        display: inline-block;
        width: 165px;
        font-size: 18px;
        line-height: 46px;
        text-align: center;

    }
}