.special-offers {
    &__wrapper {
        min-height: 574px;
        position: relative;
    }
    &__wrapper-btn {
        position: absolute;
        top: 490px;
        left: 0;
        z-index: 3;
    }
    &__btn {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0);
        border: 2px solid #fff;
        cursor: pointer;

        &_selected {
            background-color: #fff;
        }
    }

    &__box {
        width: 100%;
        min-height: 850px;
        text-align: center;
        background: radial-gradient(circle , rgba(255, 255, 255, .4) 10%, #849d8f00 60%);
        position: absolute;   
        top: -64px; 
        // z-index: 0;
    }

    &__img {
        position: absolute;
        &_one {
            top: 84px;
            left: 230px;
            z-index: 1;
        }

        &_two {
            top: 126px;
            right: 270px;
        }

    }

    &__title {
        padding-top: 398px;
        margin-bottom: 27px;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
        color: #fff;
        position: relative;
        z-index: 2;
    }

    &__link {
        display: inline-block;
        width: 278px;
        line-height: 63px;
        font-size: 32px;

    }

}