@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: 
        url(../fonts/web/roboto.woff) format("woff"),
        // url(../fonts/Roboto-Regular.ttf) format("truetype"),
        url(../fonts/web/roboto.woff2) format("woff2");
  }
  
//   @font-face {
//       font-family: "Roboto";
//       font-weight: bold;
//       font-style: italic;
//       src: url(../fonts/Roboto-BoldItalic.ttf) format("ttf");
//   }

  
//   @font-face {
//     font-family: "Roboto";
//     font-weight: bold;
//     font-style: italic;
//     src: url(../fonts/Roboto-Italic.ttf) format("ttf");
// }