<% var data = {
  title: "Gllacy-catalog",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="breadcrumbs"> 

  <a class="breadcrumbs__link" href="index.html">Главная</a>
  <a class="breadcrumbs__link" href="#">Каталог</a>
  <a class="breadcrumbs__link" href="#">Сливочное</a>

</div> <!--/breadcrumbs-->


<section class="catalog"> 
  <h1 class="catalog__title">Сливочное мороженое</h1>
  <form class="catalog__form form-catalog" action=""> 

    <div class="form-catalog__wrapper">
      <div class="form-catalog__box">
        <p class="form-catalog__title">Сортировка:</p>
        <div class="form-catalog__bl">
          <select class="form-catalog__select" name="form-catalog-select" >
            <option value="popularity">по популярности</option>
            <option value="minimum-price">по цене &#11014;</option>
          </select>
        </div> <!--/form-catalog__bl-->
      </div> <!--/form-catalog__box-->

      <div class="form-catalog__box">
        <p class="form-catalog__title">Цена: 100 руб. - 500 руб.</p>
        <div class="form-catalog__bl"> </div> <!--/form-catalog__bl-->

      </div> <!--/form-catalog__box-->

      <div class="form-catalog__box">
        <p class="form-catalog__title">Жирность:</p>
        <div class="form-catalog__bl">
          <input class="form-catalog__input-radio" id="form-catalog__input-radio-1" type="radio" name="form-catalog-radio">
          <label class="form-catalog__label-radio" for="form-catalog__input-radio-1">0%</label>
          <input class="form-catalog__input-radio" id="form-catalog__input-radio-2" type="radio" name="form-catalog-radio" checked>
          <label class="form-catalog__label-radio" for="form-catalog__input-radio-2">до 10%</label>
          <input class="form-catalog__input-radio" id="form-catalog__input-radio-3" type="radio" name="form-catalog-radio">
          <label class="form-catalog__label-radio" for="form-catalog__input-radio-3">до 30%</label>
          <input class="form-catalog__input-radio" id="form-catalog__input-radio-4" type="radio" name="form-catalog-radio">
          <label class="form-catalog__label-radio" for="form-catalog__input-radio-4">выше 30%</label>

        </div> <!--/form-catalog__bl-->
      </div> <!--/form-catalog__box-->
    </div> <!--/form-catalog__wrapper-->

    <div class="form-catalog__wrapper">
      <div class="form-catalog__box">
        <p class="form-catalog__title"> Наполнители:</p>
        <div class="form-catalog__bl">
          <input class="form-catalog__input-checkbox" id="form-catalog__input-checkbox-1" type="checkbox" name="form-catalog-checkbox" checked>
          <label class="form-catalog__label-checkbox" for="form-catalog__input-checkbox-1">шоколадные</label>
          <input class="form-catalog__input-checkbox" id="form-catalog__input-checkbox-2" type="checkbox" name="form-catalog-checkbox" checked>
          <label class="form-catalog__label-checkbox" for="form-catalog__input-checkbox-2">сахарные присыпки</label>
          <input class="form-catalog__input-checkbox" id="form-catalog__input-checkbox-3" type="checkbox" name="form-catalog-checkbox">
          <label class="form-catalog__label-checkbox" for="form-catalog__input-checkbox-3">фрукты</label>
          <input class="form-catalog__input-checkbox" id="form-catalog__input-checkbox-4" type="checkbox" name="form-catalog-checkbox">
          <label class="form-catalog__label-checkbox" for="form-catalog__input-checkbox-4">сиропы</label>
          <input class="form-catalog__input-checkbox" id="form-catalog__input-checkbox-5" type="checkbox" name="form-catalog-checkbox">
          <label class="form-catalog__label-checkbox" for="form-catalog__input-checkbox-5">джемы</label>
        </div> <!--/form-catalog__bl-->
      </div> <!--/form-catalog__box-->

      <!-- <div class="form-catalog__box"> -->
        <button class="form-catalog__btn" type="submit">Применить</button>
      <!-- </div> /form-catalog__box -->

    </div> <!--/form-catalog__wrapper-->

  </form>  <!--/catalog__form-->
</section> <!--/catalog-->

<%= _.template(require('./../includes/footer.html').default)(data) %>

